*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    height:100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 15%, 55%);
}
.card-container{
    height: 450px;
    width: 290px;
    border: 1px solid hsl(212, 45%, 89%);
    background-color: white;
    border-radius: 10px;
    
}
.qr-img{
    height: 250px;
    width: 270px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 6px;
    border-radius: 10px;
}
.card-content{
    padding: 10px;
}
.head1{
    font-size: 20px;
    font-weight: 700;
    max-width: 260px;
    margin-bottom: 10px;
    text-align: center;
}
.head2{
    max-width: 260px;
    text-align: center;
    font-weight: 400;
    color: rgb(154, 150, 150);
}